# Ignore everything by default
/*

# Allow root files and main directories
!/CMakeLists.txt
!/.gitignore
!/assets/
!/external/
!/include/
!/scripts/
!/src/

# Global ignores (inside folders)
**/.DS_Store
**/.vscode/

