# Ignore everything by default
/*

# Allow root files and main directories
!/CMakeLists.txt
!/.gitignore
!/README.md
!/LICENSE
!/assets/
!/external/
!/include/
!/scripts/
!/src/
!/tests/
!/screenshots/

# Global ignores (inside folders)
**/.DS_Store
**/.vscode/

